<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page.title }}{% endblock %}</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body class="bg-gray-50 text-gray-900">
    {% block body %}{% endblock %}
</body>
</html>